<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ANTEntities" connectionString="metadata=res://*/ANTModel.csdl|res://*/ANTModel.ssdl|res://*/ANTModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.20.21)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = neworcl.com)))&quot;;password=123456;persist security info=True;user id=ANTAPP'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>