<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>E:\Release\PTMS WcfService Setup\PTMSServerRelease\ManagerService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/ManagerService</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ADRootService" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://172.16.110.14" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADRootService_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://172.16.110.14" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ADRoleService" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="msldap://172.16.110.14/CN=ADAPP,CN=Program Data,DC=TEST,DC=ANT,DC=COM" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADRoleService_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="msldap://172.16.110.14/CN=ADAPP,CN=Program Data,DC=TEST,DC=ANT,DC=COM" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PTMSEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=SIMA_PTMS;PASSWORD=oracle;DATA SOURCE=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.11.51)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = sima)))&quot;;PERSIST SECURITY INFO=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ANTEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PTMSModel.csdl|res://*/PTMSModel.ssdl|res://*/PTMSModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.11.51)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = sima)))&quot;;password=oracle;persist security info=True;user id=SIMA_PTMS'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ADService" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://172.16.110.14/OU=AntNationnal,DC=anttest,DC=COM" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADService_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://172.16.110.14/OU=AntNationnal,DC=anttest,DC=COM" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADRoleService-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADRootService-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADService-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PTMSEntities-Web.config Connection String" />
  </ItemGroup>
</Project>