<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PTMSEntities" connectionString="metadata=res://*/PTMSModel.csdl|res://*/PTMSModel.ssdl|res://*/PTMSModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.11.51)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = sima)))&quot;;password=oracle;persist security info=True;user id=SIMA_PTMS'" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IADAccountService" />
                <binding name="BasicHttpBinding_IGroupService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:26447/ADUserInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IADAccountService"
                contract="ADUserInfoService.IADAccountService" name="BasicHttpBinding_IADAccountService" />
            <endpoint address="http://localhost:26447/GroupService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGroupService" contract="GroupService.IGroupService"
                name="BasicHttpBinding_IGroupService" />
        </client>
    </system.serviceModel>
</configuration>