<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="MobileServiceUrl" value="http://172.16.10.65:9001/"/>
    <add key="UserName" value="guest"/>
    <!--MQService密码-->
    <add key="Password" value="guest"/>
    <!--MQService地址-->
    <add key="HostName" value="172.16.80.30"/>
    <!--运行模式,WindowsService,Console-->
    <add key ="RunMode" value="Console"/>
  </appSettings>
  <connectionStrings>
    <add name="PTMSEntities" connectionString="metadata=res://*/PTMSModel.csdl|res://*/PTMSModel.ssdl|res://*/PTMSModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.50.53)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ptms)))&quot;;password=oracle;persist security info=True;user id=PTMS'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <!--Log Config-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\info\" />
      <param name="DatePattern" value="yyyy-MM-dd_hh&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="Encoding" value="Unicode" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date | [%thread]| %5level --- %message %newline" />
      </layout>
      <filter type="log4net.filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <!--Warn Log Config-->
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\warn\" />
      <param name="DatePattern" value="yyyy-MM-dd_hh&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="Encoding" value="Unicode" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date | [%thread]| %5level --- %message %newline" />
      </layout>
      <filter type="log4net.filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>

    <!--Error Log Config-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\error\" />
      <param name="DatePattern" value="yyyy-MM-dd_hh&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="Encoding" value="Unicode" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date | [%thread]| %5level --- %message %newline" />
      </layout>
      <filter type="log4net.filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <!--Console-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>


    <logger name="logerror">
      <level value="ALL" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="WarnAppender" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <root>
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="WarnAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>