<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
      Log4net配置节
    -->
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
	<connectionStrings>
		<add name="PTMSEntities" connectionString="metadata=res://*/PTMSModel.csdl|res://*/PTMSModel.ssdl|res://*/PTMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.11.3;persist security info=True;user id=PTMS;password=p.123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--MQService用户名-->
    <add key="UserName" value="guest"/>
    <!--MQService密码-->
    <add key="Password" value="guest"/>
    <!--MQService地址-->
    <add key="HostName" value="172.16.80.30"/>
    <!--消息服务器发送心跳的时间间隔，默认为20秒-->
    <add key="HeartbeatTimeSpan" value="20000"/>
    <!--运行模式,WindowsService,Console-->
    <add key ="RunMode" value="WindowsService"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MessageBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--added by BilongLiu -->
          <!--begin-->
          <serviceThrottling maxConcurrentCalls="20" maxConcurrentSessions="50" maxConcurrentInstances="40"/>
          <!--end-->
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MessageBehavior" name="Gsafety.PTMS.MessageLib.MessageService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4503/MessageService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="customBinding"
          bindingConfiguration="GoalDispatcher_NetTcpBinding" contract="Gsafety.PTMS.Message.Contract.IMessageServiceExt" />
        <endpoint address="mex" binding="customBinding" contract="IMetadataExchange" bindingConfiguration="GoalDispatcher_NetTcpBinding"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="MessageTcpBinding" receiveTimeout="10675199.02:48:05.4775807" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="132" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>

      </netTcpBinding>
      <!--start add 2014-03-03 dzl -->
      <customBinding>
        <binding name="GoalDispatcher_NetTcpBinding">
          <binaryMessageEncoding maxSessionSize="2147483647">
            <readerQuotas maxDepth="64"
                   maxStringContentLength="2147483647"
                   maxArrayLength="2147483647"
                   maxBytesPerRead="2147483647"
                   maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <tcpTransport portSharingEnabled="True"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"  />
        </binding>
      </customBinding>
      <!--end add 2014-03-03 dzl -->
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <log4net>
    <!--Log Config-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\info\" />
      <param name="DatePattern" value="yyyy-MM-dd_hh&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="Encoding" value="Unicode" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date | [%thread]| %5level --- %message %newline" />
      </layout>
      <filter type="log4net.filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <!--Warn Log Config-->
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\warn\" />
      <param name="DatePattern" value="yyyy-MM-dd_hh&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="Encoding" value="Unicode" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date | [%thread]| %5level --- %message %newline" />
      </layout>
      <filter type="log4net.filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>

    <!--Error Log Config-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\error\" />
      <param name="DatePattern" value="yyyy-MM-dd_hh&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Composite" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="Encoding" value="Unicode" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date | [%thread]| %5level --- %message %newline" />
      </layout>
      <filter type="log4net.filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <!--Console-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>


    <logger name="logerror">
      <level value="ALL" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="WarnAppender" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <root>
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="WarnAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>
