<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeviceInstallService" />
                <binding name="BasicHttpBinding_IDeviceInstallService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:26444/DeviceInstallService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceInstallService"
                contract="InstallationService.IDeviceInstallService" name="BasicHttpBinding_IDeviceInstallService" />-->
            <endpoint address="http://localhost:26444/DeviceInstallService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceInstallService1"
                contract="InstallationSerivice.IDeviceInstallService" name="BasicHttpBinding_IDeviceInstallService1" />
        </client>
    </system.serviceModel>
</configuration>