<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PTMSEntities" connectionString="metadata=res://*/PTMSModel.csdl|res://*/PTMSModel.ssdl|res://*/PTMSModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.80.20)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ptms)))&quot;;password=oracle;persist security info=True;user id=PTMS'" providerName="System.Data.EntityClient" />
    <add name="BigDBVideoEntities" connectionString="metadata=res://*/BigDB_VideoModel.csdl|res://*/BigDB_VideoModel.ssdl|res://*/BigDB_VideoModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.11.51)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = sima)))&quot;;password=VMS;persist security info=True;user id=vms'" providerName="System.Data.EntityClient" />
    <add name="GSEYE" connectionString="metadata=res://*/GSEYEModel.csdl|res://*/GSEYEModel.ssdl|res://*/GSEYEModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=172.16.80.20/PTMS;password=oracle;persist security info=True;user id=PTMS&quot;" providerName="System.Data.EntityClient" />
    <!--the configuraiton of xpf printing-->
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.80.20)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = PTMS)));password=oracle;user id=PTMS"/>
  </connectionStrings>
  <appSettings>
    <!--MQService UserName-->
    <add key="UserName" value="guest" />
    <!--MQService Password-->
    <add key="Password" value="guest" />
    <!--MQService Address-->
    <add key="HostName" value="172.16.10.191" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CustomBinding_IMessageServiceExt">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:4503/MessageService" binding="netTcpBinding"
        bindingConfiguration="CustomBinding_IMessageServiceExt" contract="ServiceReference.IMessageServiceExt"
        name="CustomBinding_IMessageServiceExt" />
    </client>
  </system.serviceModel>
</configuration>
