<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
  </system.web>
  <appSettings>

    <!--the base map type, should be one of BingMap,GoogleMap,ArcgisMap,BaiduMap,TsMap -->
    <add key="Map" value="ArcgisMap"/>
    <!--if the Map Type is Baidu, MapSubType should be one of Map,Image,POI -->
    <!--if the Map Type is GoogleMap, MapSubType should be one of s@92,t@128,m@161000000 -->
    <add key="MapSubType" value="Map"/>
    <!--the key is needed by the bingmap if the map type is BingMap -->
    <add key="BingKey" value=""/>
    <!--Should Rectify Bias,should be one of true,false -->
    <add key="Bias" value="false"/>
    <add key="BiasY" value="-160"/>
    <!--layer definition of the tsmap -->
    <add key="Layers" value="gis:agl3857"/>
    <!--layer matrixset of the tsmap -->
    <add key="MatrixSet" value="EPSG:3857"/>
    <!--layer TileMatrixSet of the tsmap -->
    <add key="TileMatrixSet" value="EPSG:3857:"/>

    <!--the bias type for tsmap,should be one of basic,extra,custom -->
    <add key="BiasType" value="custom"/>
    <!--the alongitude bias for bias type custom -->
    <add key="BiasX" value="-30"/>
    <!--the altitude bias for bias type custom -->
    <!--the ui culture, should be one of zh-CN,es-ES,en-US,pt-BR,be-BY -->
    <add key="CultureInfo" value="es-ES"/>
    <!--the ui culture, should be one of zh-CN,es-ES,en-US,pt-BR,be-BY -->
    <add key="MapLanguage" value="zh-CN"/>
    <!--default zh-CN yyyy-MM-dd-->
    <!--the dataformat for the localizationes-ES dd/MM/yyyy,yyyy-MM-dd-->
    <add key ="DateFormat" value="dd/MM/yyyy"/>
    <!--the LongDateFormat for the localizationes-ES dd/MM/yyyy,yyyy-MM-dd-->
    <add key ="LongDateFormat" value="dd-MM-yyyy HH:mm:ss"/>
    <!--Video File Server-->
    <add key="videoServiceFileServerIp" value="10.10.12.17"/>
    <add key="videoServiceFileServerPort" value="8555"/>
	<!--Picture File Server-->
	<add key="pictureServiceFileServerIp" value="10.10.12.17"/>
	<add key="pictureServiceFileServerPort" value="8555"/>
    <!--RTSP Server-->
    <add key="RTSPServiceIP" value="10.10.12.17"/>
    <add key="RTSPServicePort" value="8554"/>
    <add key="RTSPStreamChannel" value="0"/>
    <!--报警参数设置-->
    <add key="AlarmParamAlarmBeforeTime" value="10"/>
    <add key="AlarmParamAlarmEndTime" value="10"/>
    <!--1 GPS信息，2 报警日志信息，3 ACC信息， 4 设备状态信息，5 CAN数据信息，6 拨号日志信息， 7 GDS信息-->
    <add key="AlarmParamRelatedData" value="1"/>
    <add key="DefaultVideoConnectTimeOut" value="100"/>
    <!--演示设置-->
    <add key="DisplayParameterMode" value="True"/> 
    <add key="DisplayParameter" value="99999AA12311:test1.ts:test2.ts:test3.ts;99999AA00567:test4.ts:test5.ts:test6.ts;"/>
    <!--GisBaseMapUrl-->
    <add key="GisBaseMapUrl" value="http://10.10.11.7:6080/arcgis/rest/services/TempBasemap_3857/MapServer" />
    <add key="DomGisBaseMapUrl" value="http://10.10.11.7:6080/arcgis/rest/services/ImagMap/MapServer" />
    <!-- guayas -8214.52;-451.67;-7359.27;128.47;-216.65  china 5651.37;1525.49;15619.1;5348.33   FullExtent -67.457065;6.801326;-62.255857;1.391375-->
    <add key="MapInitExtent" value="-72;17;-68;20"/>
    <!--max extent of the map-->
    <add key="OverMapMaximumExtent" value="-72;17;-68;20"/>
    <!---->
    <add key="FacilitySpeed" value="60"/>
    <!--min resoulution of the GIS-->
    <add key="MinResolution" value="0.000001"/>
    <!--max resoution of the GIS-->
    <add key="MaxResolution" value="1000000"/>
    <!--the locating resoution for the GIS-->
    <add key="AutoLocateResolution" value="10"/>
    <!---->
    <add key="GisGemetryServiceUrl" value="http://172.16.11.60:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer"/>
    <!---->
    <add key="DistQueryGisLayerID" value="125;126"/>
    <!--the address of google map, should be google.cn,or google.com-->
    <add key="GoogleAddress" value="google.cn"/>
    <add key="EnglishHelpUrl" value="../Help/en-US"/>
    <add key ="ChineseHelpUrl" value="../Help/zh-CN/default.htm"/>
    <add key ="SpanishHelpUrl" value="../Help/es-ES/default.htm"/>
  </appSettings>
</configuration>