<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PTMSEntities" connectionString="metadata=res://*/ANTModel.csdl|res://*/ANTModel.ssdl|res://*/ANTModel.msl;provider=Oracle.DataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.20.21)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = neworcl.com)))&quot;;password=123456;persist security info=True;user id=ANTAPP'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    
    <add key="videoServiceIpAddress" value="172.16.20.190"/>
    
    <!--
    <add key="videoServiceIpAddress" value="172.16.20.121"/>
    -->
    <add key="videoServicePort" value="8003"/>
  </appSettings>
</configuration>